<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../../../Minecraft/Server/Server 1.16.5/server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../../../../Minecraft/Server/Server 1.16.5/server.jar!/" />
    </SOURCES>
  </library>
</component>